/*
html {
    scroll-behavior: smooth;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next', 'Inter', sans-serif;
    background-color: #E6F7FA;
    color: #1A1A1A;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden; 
}

/* Header Styling */
header {
    background: linear-gradient(90deg, #9D50FF 0%, #3B82F6 50%, #00D2A0 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    color: white;
    
    /* NEW: Sticky Positioning */
    position: sticky;
    top: 0;
    z-index: 100; /* Keeps it above other content */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Subtle shadow */
}

.logo {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    font-weight: 700; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: opacity 0.6s;
}

nav a:hover {
    opacity: 0.8;
}

/* Hero Section Styling */
.hero-section {
   min-height: 100vh;
    
    /* 2. Vertically Center the content */
    display: flex;
    align-items: center; 
    justify-content: center; /* Centers the wrapper horizontally */
    
    /* 3. Padding to account for the sticky header */
    padding: 80px 20px 0; 
    
    background-color: #E6F7FA;
}

.content-wrapper {
    max-width: 1100px; 
    /* Removed the large top margin so it sits higher up again */
    margin: 0 auto; 
    width: 100%
}

/* Typography */
h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 6.5rem; 
    font-weight: 550; 
    
    margin-bottom: 5px; 
    
    line-height: 1.1;
    color: #1A1A1A;
    display: flex; 
    align-items: baseline; 
    gap: 15px; 
}

/* The Typing Animation Container */
.script-text {
    font-family: 'Borel', cursive; 
    font-weight: 400;
    font-style: normal;
    
    font-size: 1em; 
    
    /* FIX FOR CUT OFF 'L' & 'l' */
    /* We increase line-height and add padding to expand the "mask" vertically */
    line-height: 1.1; 
    padding-top: 0.5em;    /* Room for top loops */
    padding-bottom: 0.1em; /* Room for bottom loops */
    padding-right: 0.5em;  /* Room for right tails */

    
margin-bottom: -0.2em;
    margin-left: -12px; 
    /* Negative margin compensates for the extra padding to keep alignment perfect */
    margin-top: -0.2em; 
    
    background: linear-gradient(90deg, #9D50FF 0%, #3B82F6 50%, #00D2A0 100%);
    -webkit-background-clip: text;
